/* -- general -- */
.dark{color: #ddd}
.dark a{color: #FFF;}
.dark a:hover{color: #ddd}
.dark h1,.dark h2, .dark h3, .dark h4, .dark h5{color: #FFF;}

.dark p{color: #ddd}
.dark p.price{color: #FFF}
.dark .price del,.dark .price .from{color: #eee;}

.dark .tx-div{background-color: #FFF;opacity: 0.3}
.dark li.account-dropdown{border-color: rgba(#FFF,0.1)!important}

/* -- header -- */
.dark-header .logo h1 a{color: #FFF}

/* -- slider -- */
.dark .sliderNav a span{border-color:#000; color:#000}
.dark .sliderBullets .bullet{border-color: #000}
.dark .sliderBullets .bullet.active,.dark .sliderBullets .bullet:hover{background: #000}

/* -- navigation link colors -- */
.dark-header ul.header-nav a.nav-top-link{color: #fff; opacity: 0.7}
.dark-header ul.header-nav li.active a.nav-top-link{color: #fff;opacity: 1}

.dark-header #masthead .mobile-menu a{font-size: 32px;color: #FFF;}

.dark-header strong.cart-name, .dark-header span.cart-price{color: #fff;opacity: 0.6;}
.dark-header .active strong.cart-name,.dark-header .active span.cart-price{color: #fff;opacity: 1}

/* -- dropdown hover links -- */
.dark-header .header-nav li.mini-cart .cart-icon strong{border-color:#fff;color: #FFF;}
.dark-header .header-nav li.mini-cart.active .cart-icon strong{border-color:#fff;color: #000;background-color: #fff!important;}

.dark-header .header-nav li.mini-cart .cart-icon .cart-icon-handle{border-color:#fff;}
.dark-header .header-nav li.account-dropdown{border-color:rgba(255,255,255,0.3);}

.dark-header .ux_banner-grid{margin-top: 40px}
.dark-header .top-divider{display: none}

/* -- forms  --*/
.dark form label{color: #eee}

/* -- social icons -- */
.dark .social-icons .icon{border-color:#FFF;color:#FFF;}

/* -- widgets -- */
.dark .widget .post-date{border-color:#ccc;color: #CCC}
.dark .widget .post-item:hover .post-date{background: #FFF;color: $primary-color;border-color:#FFF;};

.dark .product_list_widget span.amount{color: #FFF;}
.dark .flatsome_recent_posts li,.dark .product_list_widget li {border-color: #ccc; border-color: rgba(255,255,255,0.2);}

.dark .widget_nav_menu ul li a{color: #FFF}
.dark .widget_nav_menu ul li a:hover{color: #ccc}
.dark .widget_nav_menu ul li a{border-color: rgba(255,255,255,0.2);}
